# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
_site/
src/output.css

# Misc
.DS_Store
*.log
*.swp
*.swo
*~

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Netlify
.netlify/

# Build artifacts
*.zip
*.tar.gz
*.tar
